<div class="user-selection">
    <label for="userSelect">Select User:</label>
    <select id="userSelect" [(ngModel)]="selectedUser" (change)="onUserSelect()">
      <option *ngFor="let user of users" [value]="user">{{ user }}</option>
    </select>
  </div>
  
  <div class="chart-container">
    <h3>Workout Progress</h3>
    <div style="display: block">
      <canvas baseChart
              [datasets]="chartData"
              [labels]="chartLabels"
              [type]="chartType">
      </canvas>
    </div>
  </div>
  